{
	"root": true,
	"parserOptions": {
		"babelOptions": {
			"presets": ["@wordpress/babel-preset-default"]
		}
	},
	"extends": ["plugin:@wordpress/eslint-plugin/recommended"],
	"overrides": [
		{
			"files": ["tests/e2e/specs/**/*.ts"],
			"extends": ["plugin:@wordpress/eslint-plugin/test-playwright"]
		}
	]
}
