includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: 9
	paths:
		- inc/
		- tests/phpunit
	ignoreErrors:
		- message: '/has no return type specified\.$/'
		- message: '/^Call to method PHPUnit\\Framework\\Assert::assertFalse\(\) with false will always evaluate to true\.$/'
		- message: '/^Cannot access offset 1 on mixed\.$/'
		- message: '/^Cannot access offset .messages. on mixed\.$/'
	scanFiles:
		- vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
