includes:
	- build-cs/vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: 8
	paths:
		- inc/
		- tests/phpunit
	ignoreErrors:
		- message: '/^Call to private\/internal function preferred_languages_load_just_in_time\(\)\.$/'
		- message: '/has no return type specified\.$/'
		# See https://github.com/swissspidy/preferred-languages/issues/962.
		- message: '/^Call to function method_exists\(\) with WP_Locale_Switcher and .get_switched_user_id. will always evaluate to true\.$/'
		- message: '/^Call to method PHPUnit\\Framework\\Assert::assertFalse\(\) with false will always evaluate to true\.$/'
	scanFiles:
		- build-cs/vendor/php-stubs/wordpress-tests-stubs/wordpress-tests-stubs.php
