/* When JS is not loaded yet. Approximation to prevent layout shift. */
#preferred-languages-root:empty {
	height: 205px;
}

.active-locales {
	margin: 1em 0;
}

.active-locales-list,
.inactive-locales-list {
	width: 25em;
	clear: both;
	float: left;
}

.active-locales-list {
	margin: 0 1em 0 0;
}

.inactive-locales-list {
	margin: 0 1em 0 0;
}

.active-locales-controls {
	clear: both;
}

.active-locales-controls ul {
	margin: 0;
}

.active-locales-controls li {
	margin: 0;
}

.active-locales-controls li + li {
	margin-top: 6px;
}

.active-locales-controls .button {
	margin: 0;
}

@media screen and (min-width: 510px) {

	.active-locales-controls {
		clear: none;
	}
}

.active-locales-list {
	height: 120px;
	overflow-y: scroll;
	margin-top: 0;
	background: #fff;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
	border: 1px solid #ddd;
	color: #32373c;
	box-sizing: border-box;
}

.active-locales-list.empty-list {
	background: rgba(255, 255, 255, 0.5);
	border-color: rgba(222, 222, 222, 0.75);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
	display: flex;
	align-items: center;
}

.active-locales-list li {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 8px;
	cursor: pointer;
}

.active-locales-list li:hover {
	background: rgba(0, 0, 0, 0.07);
}

.active-locales-list li[aria-selected="true"] {
	background: rgba(0, 0, 0, 0.15);
}

.active-locales-empty-message {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	text-align: center;
	width: 25em;
	height: 120px;
	margin-bottom: -120px;
	box-sizing: border-box;
	color: rgba(51, 51, 51, 0.5);
}

.active-locales-empty-message.hidden {
	display: none;
}

.inactive-locales {
	clear: both;
}

.inactive-locales select {
	width: 100%;
}

.preferred-languages .components-notice {
	display: inline-block;
}

/* stylelint-disable-next-line selector-id-pattern */
.js #WPLANG,
.js .user-language-wrap,
.no-js .preferred-languages,
.no-js #preferred-languages-label,
.no-js .user-preferred-languages-wrap {
	display: none;
}

.language-install-spinner {
	display: inline-block;
	float: none;
	margin: -3px 5px 0;
	vertical-align: middle;
}

/* Workaround for https://core.trac.wordpress.org/ticket/57644 */
.language-install-spinner:not(.preferred-languages-spinner) {
	display: none;
}
