name: E2E Tests

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  e2e-tests:
    name: E2E Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node
      uses: actions/setup-node@v2.2.0
      with:
        node-version: 15
        cache: npm

    - name: Install dependencies
      run: npm ci

    - name: Install WordPress
      run: |
        chmod -R 767 ./ # TODO: Possibly integrate in wp-env
        npm run wp-env start

    - name: Run tests
      run: npm run test:e2e
