name: Performance Tests
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    performance-tests:
        timeout-minutes: 60
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: npm

            - name: Install dependencies
              run: npm ci

            - name: Build plugin
              run: npm run build

            - name: Run performance tests
              uses: swissspidy/wp-performance-action@main
              with:
                  plugins: |
                      ./
                  urls: |
                      /
                      /sample-page/
